<!DOCTYPE html>
<html lang="ja">
<head>
    <title>イベント情報登録</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/form.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<form class="form">
    <div class="form__field">
      
      <!-- <div class="radiogroup">
        <div class="wrapper">
          <input class="state" type="radio" name="app" id="a" value="a">
          <label class="label" for="a">
            <div class="indicator"></div>
            <span class="text">a) close</span>
          </label>
        </div>
        <div class="wrapper">
          <input class="state" type="radio" name="app" id="b" value="b">
          <label class="label" for="b">
            <div class="indicator"></div>
            <span class="text">b) remove</span>
          </label>
        </div>
        </div>
      </div>       -->


      <div class="input-group">
        <label class="input-group__label">勉強会 or ハッカソン</label>
        <input id="radio-a" type="radio" name="dinner" value="勉強会" checked><label for="radio-a">勉強会</label><br>
        <input id="radio-b" type="radio" name="dinner" value="ハッカソン"><label for="radio-b">ハッカソン</label><br>
      </div>

      <div class="input-group">
        <label class="input-group__label">イベント名</label>
          <input class="input-group__input" type="text" required>
      </div>
    
      <div class="input-group">
        <label class="input-group__label">イベント詳細</label>
            <input class="input-group__input" type="text" required>
      </div>

      <div class="input-group">
        <label class="input-group__label">イベントID</label>
            <input class="input-group__input" type="text" required>
      </div>
        
      <div class="input-group">
        <label class="input-group__label">日時</label>
          <input class="input-group__input" type="date" required>
      </div>
        
      <div class="input-group">
        <label class="input-group__label">場所</label>
            <input class="input-group__input" type="text" required>
      </div>
    
      <!-- <div class="input-group">
        <label class="input-group__label">タグ</label>
          <input class="input-group__input" type="text" required>
    　</div> -->
      
      <div class="input-group">
        <label class="input-group__label">イベントURL</label>
          <input class="input-group__input" type="url" required>
      </div>
      
    <button class="button" type="button">登録</button>
  </form>