<!DOCTYPE html>
<html lang="ja">
<head>
    <title>イベント情報登録</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/host-form.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
  <form class="form">
      <div class="form__field">
  
        <div class="input-group">
          <label class="input-group__label">イベントID</label>
              <input class="input-group__input" type="text" required>
        </div>
        
      <button class="button" type="button">登録</button>
    </form>
</body>