<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ここにプロダクト名</title>
    <link rel='stylesheet' href='../static/css/style.css'>
</head>
<body>
    <h1>event Resister</h1>
    
    
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
    <script src='../static/js/config.js'></script>
    <script src='../static/js/functions.js'></script>
    <script src='../static/js/event_resister.js'></script>
    <script src='../static/js/main.js'></script>
</body>
</html>