<!DOCTYPE html>
<html>
  <body>
    <form> 
      <div class="segment">
        <h1>プロフィール登録</h1>
        <div class="text">
          <h3>hoge@gmail.com</h3></div>
        <label>

          </div>
        <input type="text" placeholder="Username"></label>
      <p><button class="unit" type="button">性別</button></p>  
      <p><button class="unit" type="button">年齢</button></p>
      <p><button class="unit" type="button">都道府県</button></p>
      </div>

      <div class="segment">
      <h1>所持アカウント</h1>          
      <div class="segment">
        
        <div class="text">
          <h3>Twitter</h3></div>
        <input type="text" placeholder="@">
        
        <div class="text" placeholder="@">
          <h3>Instagram</h3></div>
        <input type="text" placeholder="@">       
     
        <div class="text">
          <h3>GitHub</h3></div>
        <input type="text" placeholder="@">  
    
        <div class="text">
          <h3>FaceBook</h3></div>
        <input type="text" placeholder="@">  
      </div>
        <button class="red" type="button">登録</button>
</form>
  </body>
</html>