<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ここにプロダクト名</title>
    <link rel='stylesheet' href='../static/css/style.css'>
</head>
<body>
    <!--
    <input id='username_inp' placeholder='username_inp'>
    <input id='email_inp' placeholder='email_inp'>
    <select id='religion_inp'>
        <option value="愛知">愛知</option>
        <option value="三重">三重</option>
        <option value="岐阜">岐阜</option>
    </select>

    <input id='github_inp' placeholder='github_inp'>
    <input id='twitter_inp' placeholder='twitter_inp'>
    <input id='instagram_inp' placeholder='instagram_inp'>
    <input id='qiita_inp' placeholder='qiita_inp'>
    <input id='introduction_inp' placeholder='introduction_inp'>
-->
    <button id='update_btn'>update</button>

    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-firestore.js"></script>
    <script src='../static/js/config.js'></script>
    <script src='../static/js/functions.js'></script>
    <script src='../static/js/main.js'></script>
    <script src='../static/js/user_settings.js'></script>
</body>
</html>